DATABASE_URL=postgres://USER:PASSWORD@localhost:5432/menu_management?sslmode=disable
RABBITMQ_URL=amqp://USER:PASSWORD@localhost:5672/
ORDER_QUEUE_NAME=order.placed
MERCHANT_ID=1
PORT=8080
GIN_MODE=debug
